
MONGO_URL=
DB_NAME=
CORS_ORIGINS=
ADMIN_PASSWORD=
RESEND_API_KEY=
ADMIN_NOTIFICATION_EMAIL=
SENDER_EMAIL=
CHARIOW_WEBHOOK_SECRET=
CRON_TOKEN=
ADMIN_MANUAL_ONLY=
ANTHROPIC_API_KEY=
MAKETOU_API_KEY=
MAKETOU_PRODUCT_1M=
MAKETOU_PRODUCT_3M=
MAKETOU_PRODUCT_1Y=

